html, body {
    height: 100%;
}
body {
    background-color: blanchedalmond;
}

/* HEADER*/

.head {
    background: #F34336;
    border-radius: 0  0 20px 20px;
    border: 2px solid black;
    border-top: none;
}
.title {
    text-align: center;
    color: black;
}
img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.descr {
    text-align: center;
}

/* SECTION */

#commands {
    margin-top: 80px;
    background: #E57373;
    border-radius: 20px;
    border: 2px solid black;
}
.com {
    background-color: #424242;
    color: #FFCCBC;
    border-radius: 5px;
}
.com-head {
    text-align: center;
}
.com-title {
    font-size: 20px;
    text-align: center;
}
.com-subtitle {
    text-align: center;
}
.slack-row h2{
    text-align: center
}
.slack img{
    text-align: center;
}


/*FOOTER*/

.footer {
    height: 100px;
    margin-top: 150px;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
.footer a {
    text-decoration: none;
    color: #000;
}
.footer a:hover {
    color:  #E57373;
}